{{#unless burgers.length }}
<h3>No Burgers Yet</h3>
{{/unless}}
<ul class="burger_list" id="list-{{side}}">
  {{#each burgers}}
  <li class="listItem">
    <span>{{this.id}} - {{this.burger_name}}</span>
    {{#unless this.devoured }}
    <form action="/update" method="post">
      <button class="devour" type="submit" name="id" value="{{this.id}}">DEVOUR</button>
    </form>
    {{/unless}}
  </li>
  {{/each}}
</ul>
{{#if eaten }}
{{#if burgers.length }}
<form id="clearShame" action="/clear" method="post">
  <button id="clearBtn" type="submit">CLEAR</button>
</form>
{{/if}}
{{/if}}